name: Generate Modified Fancode Playlist

on:
  schedule:
    - cron: '*/20 * * * *' 
  push:
    branches:
      - main 
    paths:
      - 'fancode.m3u'

jobs:
  modify_and_upload:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4 # Latest version use karein
      with:
        token: ${{ secrets.FANCODE_TOKEN }}

    - name: Remove existing files
      run: rm -f fancode_ww1.m3u

    - name: Configure Git for commits
      run: |
        git config --global user.name "auto-update-bot"
        git config --global user.email "auto-update-bot@users.noreply.github.com"
        git remote set-url origin https://${{ secrets.FANCODE_TOKEN }}@github.com/abid58b/FanCodePlaylist.git

    - name: Check for fancode.m3u existence
      id: check_file
      run: |
        if [ ! -f fancode.m3u ]; then
          echo "fancode.m3u not found! Skipping URL modification."
          echo "file_found=false" >> $GITHUB_OUTPUT
        else
          echo "fancode.m3u found. Proceeding with URL modification."
          echo "file_found=true" >> $GITHUB_OUTPUT
        fi

    - name: Modify Fancode Playlist URLs with sed
      if: steps.check_file.outputs.file_found == 'true'
      run: |
        cp fancode.m3u fancode_ww1.m3u
        sed -i 's|https://in-mc-fdlive.fancode.com/mumbai/|https://dai.fancode.com/primary/|g' fancode_ww1.m3u
        sed -i 's|\(https://dai.fancode.com/primary/[^ ]*\)|https://allinonereborn.fun/fc123/play.php?url=\1|g' fancode_ww1.m3u
      
    - name: Commit and push modified file
      if: steps.check_file.outputs.file_found == 'true'
      run: |
        git add fancode_ww1.m3u
        git fetch origin main
        git reset --soft origin/main
        if git diff --cached --quiet; then
          echo "No changes to fancode_ww1.m3u to commit."
          git pull origin main --rebase
          git push origin main
        else
          git commit -m "Auto-generated: Update Fancode playlist"
          git push origin main
        fi
      env:
        GITHUB_TOKEN: ${{ secrets.FANCODE_TOKEN }}
